Exports Prediction/flows (2).json
[{"id":"212db622.8783ba","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8adb372b.775788","type":"ui_form","z":"212db622.8783ba","name":"","label":"","group":"b6bf00be.197ff","order":3,"width":0,"height":0,"options":[{"label":"Beef","value":"bf","type":"number","required":true},{"label":"Pork","value":"pk","type":"number","required":true},{"label":"Poultry","value":"pltry","type":"number","required":true},{"label":"Dairy","value":"dy","type":"number","required":true},{"label":"Total Fruits","value":"tot_fru","type":"number","required":true},{"label":"Total Vegetables","value":" tot_veg","type":"number","required":true},{"label":"Corn","value":"crn","type":"number","required":true},{"label":"Wheat","value":"wht","type":"number","required":true},{"label":"Cotton","value":"cot","type":"number","required":true}],"formValue":{"bf":"","pk":"","pltry":"","dy":"","tot_fru":""," tot_veg":"","crn":"","wht":"","cot":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":67.00000190734863,"wires":[["191c1a37.2b1aa6"]]},{"id":"ee4cee1.631611","type":"function","z":"212db622.8783ba","name":"op pred","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":728.1000556945801,"y":357.00000381469727,"wires":[["59267415.1483ec","4d92ba9f.420c64"]]},{"id":"191c1a37.2b1aa6","type":"function","z":"212db622.8783ba","name":"Func","func":"global.set(\"bf\",msg.payload.bf)//assigning to global variable\nglobal.set(\"pk\",msg.payload.pk)\nglobal.set(\"pltry\",msg.payload.pltry)\nglobal.set(\"dy\",msg.payload.dy)//assigning to global variable\nglobal.set(\"tot_fru\",msg.payload.tot_fru)\nglobal.set(\"tot_veg\",msg.payload.tot_veg)\nglobal.set(\"crn\",msg.payload.crn)//assigning to global variable\nglobal.set(\"wht\",msg.payload.wht)\nglobal.set(\"cot\",msg.payload.cot)\nreturn msg;","outputs":1,"noerr":0,"x":217.10005569458008,"y":64.00000190734863,"wires":[["862c5561.360c18"]]},{"id":"aba7f179.12b4b","type":"function","z":"212db622.8783ba","name":"var_fun","func":"var token = msg.payload.token\nvar bf = global.get(\"bf\")\nvar pk = global.get(\"pk\")\nvar pltry = global.get(\"pltry\")\nvar dy = global.get(\"dy\")\nvar tot_fru = global.get(\"tot_fru\")\nvar tot_veg = global.get(\"tot_veg\")\nvar crn = global.get(\"crn\")\nvar wht = global.get(\"wht\")\nvar cot = global.get(\"cot\")\nmsg.payload = {\"fields\": [\"bf\",\"pk\",\"pltry\",\"dy\",\"tot_fru\",\"tot_veg\",\"crn\",\"wht\",\"cot\"],\"values\":[[bf,pk,pltry,dy,tot_fru,23,crn,wht,cot]]}; \nmsg.headers = {'Authorization':'Bearer' + token}; \nreturn msg;\n","outputs":1,"noerr":0,"x":401.1000518798828,"y":105.00000381469727,"wires":[["fbc5911a.6c67b","abe30c13.c3204"]]},{"id":"862c5561.360c18","type":"http request","z":"212db622.8783ba","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":197.50000381469727,"y":217.00000095367432,"wires":[["aba7f179.12b4b","33f5ee90.6d1102"]]},{"id":"18e4c26e.6d32ce","type":"debug","z":"212db622.8783ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":811.5000152587891,"y":106.00000762939453,"wires":[]},{"id":"fbc5911a.6c67b","type":"debug","z":"212db622.8783ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":608.5000076293945,"y":49.000003814697266,"wires":[]},{"id":"33f5ee90.6d1102","type":"debug","z":"212db622.8783ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":429.5,"y":368,"wires":[]},{"id":"59267415.1483ec","type":"debug","z":"212db622.8783ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":951.0999755859375,"y":395,"wires":[]},{"id":"abe30c13.c3204","type":"http request","z":"212db622.8783ba","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/04eb664d-f2b7-4983-bd01-3e6547a88480/deployments/d01c839c-6b78-4a7e-be4a-1744a18964f8/online","tls":"","proxy":"","authType":"basic","x":705.5,"y":195,"wires":[["18e4c26e.6d32ce","ee4cee1.631611"]]},{"id":"4d92ba9f.420c64","type":"ui_text","z":"212db622.8783ba","group":"14a672e5.1aff7d","order":4,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":845.1000366210938,"y":434,"wires":[]},{"id":"b6bf00be.197ff","type":"ui_group","z":"","name":"Total Export Of States","tab":"e5c8a824.ced478","disp":true,"width":"6","collapse":false},{"id":"14a672e5.1aff7d","type":"ui_group","z":"","name":"MultiLinear","tab":"e5c8a824.ced478","disp":true,"width":"6","collapse":false},{"id":"e5c8a824.ced478","type":"ui_tab","z":"","name":"EXport","icon":"dashboard","disabled":false,"hidden":false}]